.order-cart-entry-container {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 0;
}

.order-cart-entry-info {
    display: flex;
    flex-direction: column;
}

.order-cart-entry-info span {
    margin: 8px 8px;
}

.order-cart-entry-container img {
    display: inline;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: 40px;
    object-fit: cover;
    object-position: center;
}