.nav-container {
    display: flex;
}

.dropdown-menu {
    margin-left: auto;
    margin-top: 40px;
    margin-right: 200px;
    position: relative;
    height: fit-content;
}

.dropdown-button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-list {
    position: absolute;
    right: 0px;
    padding: 0px;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
}

.dropdown-list li {
    list-style: none;
    text-wrap: nowrap;
}

.dropdown-list li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 12px;
}