.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-text {
    width: 80%;
}

.cart-text p {
    align-self: flex-start;
}

.cart-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-end;
    margin-bottom: 200px;
}

.cart-info button {
    width: fit-content;
}