.order-success-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
}

.order-success-list-container {
    display: flex;
    flex-direction: column;
}

.order-success-list-item {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border: 4px solid black;
    border-radius: 12px;
}

.order-success-list-item img {
    width: 220px;
    height: 220px;
    align-self: center;
    margin-left: auto;
    margin-right: 40px;
    border: 2px solid black;
    padding: 10px;
}

.order-success-list-item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-success-list-item-desc span {
    margin: 8px 0px;
    width: fit-content;
    font-size: 20px;
}

.order-success-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.order-success-list-item:last-child {
    margin-bottom: 100px;
}