.product-list-item-container {
    display: flex;
    border: 4px solid black;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;
}

.product-list-item-info p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.add-to-cart {
    margin-left: auto;
    align-self: flex-end;
}